img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0, 0.2);
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 12px;
  z-index: 1000;
  width: 500px;
  text-align: center;
}


